doctype html
head
	meta(charset='utf-8')
	title Webpack App
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='../styles/style.css')
.container
	header
		img.header__logo(src='../images/author.svg', alt='logo')
	h1 Все страницы
	ol
		li
			span UI kit
			ol
				li
					a(href='#') Headers &amp; Footers
				li
					a(href='#') Cards
				li
					a(href='#') Form Elements
				li
					a(href='#') Colors &amp; Type
		li
			span Website pages
			ol
				li
					a(href='#') Registration
				li
					a(href='#') Sign in
				li
					a(href='#') Room details
				li
					a(href='#') Search room/Filter/Preferences Dropdown
				li
					a(href='#') Search room/Filter/Preferences Expandable Checkbox list
				li
					a(href='#') Search room/Filter
				li
					a(href='#') Landing page/Guests Dropdown
				li
					a(href='#') Landing page/Dates Dropdown
				li
					a(href='#') Landing page